* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #fff;
  padding: 16px 20px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
  margin-bottom: 24px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg {
  stroke: #6c757d;
  height: 64px;
  stroke-width: 2;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #6c757d;
}

.nav-links li a:hover {
  color: #007bff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  padding: 20px;
}

.image {
  flex: 1;
  text-align: center;
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.primary {
  background-color: #007bff;
}

.secondary {
  background-color: #6c757d;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.toggleBtn {
  background-color: #333;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  top: 150px;
  left: 30px;
}

.toggleBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
